<?xml version='1.0' encoding='utf-8'?>
<widget id="test.atulmahankal.cordovareact" version="0.1.0"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <name>Cordova React</name>
  <description>A powerful, cross-platform template to build mobile applications using Apache Cordova and React.</description>
  <author email="atulmahankal@gmail.com" href="https://atulmahankal.github.io/atulmahankal">Atul Devichand Mahankal</author>
  <content src="index.html" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <icon src="res/logo.xml" />

  <hook type="before_run" src="hooks/update-config-from-package.js" />
  <hook type="before_run" src="hooks/update-manifest-from-package.js" />

  <!-- Allow HTTP Traffic for Android 9 and above -->
  <platform name="android">
    <hook type="before_prepare" src="hooks/copy_network_config.js" />

    <!-- Option 1: Allow HTTP traffic globally (for all domains) -->
    <!-- <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config> -->

    <!-- Option 2: Allow HTTP traffic only for specific domains (Recommended) -->
    <!-- Uncomment the next edit-config block if you choose to use domain-specific configuration -->
    <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
      <application android:networkSecurityConfig="@xml/network_security_config" />
    </edit-config>

  </platform>

  <!-- Android Preferences -->
  <preference name="android-minSdkVersion" value="22" />
  <preference name="android-targetSdkVersion" value="35" />
</widget>
